@model MVCRoutingConceptDemo.Models.ClsCustomer

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<div>
    <h4>ClsCustomer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustDOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustDOJ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
